@tailwind base;
@tailwind components;
@tailwind utilities;

.header--fixed {
  position: fixed;
  padding: 0;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 100 !important;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 rgb(82 63 105 / 5%);
  height: 70px !important;
  animation-name: animationSlideInDown;
}
.drawer {
  display: flex !important;
  overflow: auto;
  z-index: 110;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  transform: none;
  box-shadow: 0 1px 9px -3px rgb(0 0 0 / 5%);
  width: 200px !important;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 109;
  background-color: rgba(0, 0, 0, 0.2);
  animation: animation-drawer-fade-in 0.3s ease-in-out 1;
}

a.active_link {
  color: #009ef7 !important;
}

.text-danger {
  color: #f1416c !important;
}
.text-success {
  color: #28a645 !important;
}

@layer base {
  html,
  body {
    font-size: 13px !important;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    color: #181c32;
    min-height: 100vh;

    margin: 0;
    padding: 0;
    font-size: 13px !important;
    font-weight: 400;
    font-family: Poppins, Helvetica, sans-serif;
  }

  input,
  button,
  textarea,
  select {
    font-family: "Poppins", sans-serif;
    outline: none;
  }

  @media screen and (max-width: 991.98px) {
    .layout-container {
      max-width: none !important;
      padding: 0 15px;
    }

    #vt_header_nav_wrapper {
      display: none;
    }
  }
}

@layer components {
  .layout-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .content {
    color: #2f3044;
    line-height: 1.6;
    font-size: 16px !important;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .subheader {
    background-color: #f2f9ff;
    background-repeat: no-repeat;
    padding-top: 93px;
  }

  .header {
    display: flex;
    align-items: stretch;
    position: fixed;
    height: 93px;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #eaf2ff;
    transition: all 0.3s ease;
    z-index: 101;
  }
  .header.header-inner {
    background: #f2f9ff;
    border-bottom-color: rgba(16, 16, 16, 0.05);
  }
  .header-minimize .header {
    transition: all 0.3s ease;
    height: 70px;
    box-shadow: 0 4px 20px -10px rgb(0 0 0 / 10%);
    border-bottom-color: transparent;
    background: #fff;
  }

  @media (max-width: 767.98px) {
    body,
    html {
      font-size: 12px !important;
    }
  }

  @media (min-width: 576px) {
    .layout-container {
      max-width: 540px;
    }
  }

  @media (min-width: 992px) {
    .layout-container {
      padding: 0 30px;
    }
  }

  @media (min-width: 768px) {
    .layout-container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .layout-container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .layout-container {
      max-width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    .layout-container {
      max-width: 1320px;
    }
  }

  small {
    font-style: italic;
    font-weight: lighter;
  }
  .small,
  small {
    font-size: 0.875em;
  }
  .text-danger {
    color: #f1416c !important;
  }
  .text-success {
    color: #28a645 !important;
  }

  .btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: #181c32;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 0.475rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
  }

  .btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5em + 1.5rem + 2px);
    width: calc(1.5em + 1.5rem + 2px);
  }

  .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: #a1a5b7;
  }
  .btn-group-sm > .btn.btn-icon,
  .btn.btn-icon.btn-sm {
    height: calc(1.5em + 1.1rem + 2px);
    width: calc(1.5em + 1.1rem + 2px);
  }

  .btn-success {
    color: #000;
    background-color: #50cd89;
    border-color: #50cd89;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
  }

  .btn-primary {
    color: #000;
    background-color: #009ef7;
    border-color: #009ef7;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
  }

  .btn-check:active + .btn.btn-primary,
  .btn-check:checked + .btn.btn-primary,
  .btn.btn-primary.active,
  .btn.btn-primary.show,
  .btn.btn-primary:active:not(.btn-active),
  .btn.btn-primary:focus:not(.btn-active),
  .btn.btn-primary:hover:not(.btn-active),
  .show > .btn.btn-primary {
    color: #fff;
    border-color: #0095e8;
    background-color: #0095e8 !important;
  }

  .btn.btn-primary {
    color: #fff;
    border-color: #009ef7;
    background-color: #009ef7;
  }

  .shadow-properties {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
      0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
      0px 20px 13px rgba(0, 0, 0, 0.015),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
      0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  }

  .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    border: 0;
    padding: calc(0.75rem + 1px) calc(1.5rem + 1px);
  }

  .btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg) {
    box-shadow: none !important;
  }

  .btn-group-lg
    > .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon),
  .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon).btn-lg {
    padding: calc(0.825rem + 1px) calc(1.75rem + 1px);
  }

  .btn.btn-success {
    color: #fff;
    border-color: #50cd89;
    background-color: #50cd89;
  }

  a.active {
    color: #fff !important;
    transition: color 0.2s ease, background-color 0.2s ease;
  }

  .svg-icon {
    line-height: 1;
  }
  .svg-icon.svg-icon-2tx svg {
    height: 2.75rem !important;
    width: 2.75rem !important;
  }
  .svg-icon.svg-icon-2hx svg {
    height: 2.5rem !important;
    width: 2.5rem !important;
  }
  .svg-icon.svg-icon-white svg [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: #fff;
  }
  svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: #a1a5b7;
  }

  .form-label {
    margin-bottom: 0.5rem;
    font-size: 1.05rem;
    font-weight: 500;
    color: #3f4254;
    display: inline-block;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #181c32;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e6ef;
    appearance: none;
    border-radius: 0.475rem;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .dropdown.show > .form-control.form-control-solid,
  .form-control.form-control-solid.active,
  .form-control.form-control-solid.focus,
  .form-control.form-control-solid:active,
  .form-control.form-control-solid:focus {
    background-color: #eef3f7;
    border-color: #eef3f7;
    color: #5e6278;
    transition: color 0.2s ease, background-color 0.2s ease;
  }

  .form-check-input {
    width: 1.75rem;
    height: 1.75rem;
    margin-top: -0.125rem;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    appearance: none;
    color-adjust: exact;
    transition: background-color 0.15s ease-in-out,
      background-position 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }

  .form-check-input[type="checkbox"] {
    border-radius: 0.45em;
  }
  .form-check .form-check-input {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .form-check-input:focus {
    border-color: #b5b5c3;
    outline: 0;
    box-shadow: none;
  }

  .form-check-input:checked {
    background-color: #009ef7;
    border-color: #009ef7;
  }

  .form-check-input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
  }

  .form-check-input:checked[type="radio"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23FFFFFF'/%3e%3c/svg%3e");
  }

  .form-check-input[type="checkbox"]:indeterminate {
    background-color: #009ef7;
    border-color: #009ef7;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
  }

  .form-control-lg {
    min-height: calc(1.5em + 1.65rem + 2px);
    padding: 0.825rem 1.5rem;
    font-size: 1.15rem;
    border-radius: 0.475rem;
  }
  .form-control {
    box-shadow: none !important;
  }
  .form-control.form-control-solid {
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    color: #5e6278;
    transition: color 0.2s ease, background-color 0.2s ease;
  }
}

@layer utilities {
  @keyframes animationSlideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .animation-slide-in-down {
    animation-name: animationSlideInDown;
  }

  .shadow-sm {
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%) !important;
  }
  .shadow-purple {
    box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07),
      0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481),
      0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185),
      0px 20px 13px rgba(150, 114, 255, 0.035),
      0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815),
      0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
  }

  .shadow-blue {
    box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07),
      0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481),
      0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185),
      0px 20px 13px rgba(77, 223, 253, 0.035),
      0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815),
      0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
  }

  .shadow-pink {
    box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07),
      0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481),
      0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185),
      0px 20px 13px rgba(242, 184, 236, 0.035),
      0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815),
      0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
  }

  .shadow-orange {
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07),
      0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481),
      0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185),
      0px 20px 13px rgba(248, 90, 71, 0.035),
      0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
      0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  }

  .shadow-white {
    box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04),
      0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704),
      0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963),
      0px 32.6px 13px rgba(0, 0, 0, 0.02),
      0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037),
      0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
  }
}
