

:root {
  --primary-font: "Roboto", sans-serif;
  --main-color-one: #696cff;
  --text-color: #697a8d;
  --secondary-color: #566a7f;
  --body-bg: #f5f5f9;
  --body-white: #fff;
  --scroll-bar-color: rgb(88, 192, 248);
  --scroll-thumb-color: var(--primary-color);
  --bgr-color: #2b2c40;


}